@charset "utf-8";

/*
  default 값들
  부트스트랩을 수정하지만 고정적으로 쓰는 것
  주로 안 바뀌는 것
  header(hd), footer(ft)
*/
/* 반응형 max 1400px */
@media (max-width: 1399.98px) {
}

/* 반응형 max 1200px xl */
@media (max-width: 1199.98px) {
}

/* 반응형 max 992px lg */
@media (max-width: 991.98px) {
}

/* 반응형 max 767px md */
@media (max-width: 767.98px) {
}

/* 반응형 max 576px sm */
@media (max-width: 575.98px) {
/*로그인*/
.center_contentrs{padding:50px 16px}
.center_contentrs2{padding:50px 0}
.center_contentrs2 .padding_wrap{padding:50px 16px}
.login_bt_menu li a{font-size:12px;}
}

/* 반응형 max 374px */
@media (max-width: 374.98px) {
}
