#ShopList_pc{width:100%;max-width:1200px;display:flex;justify-content:center;gap:30px;margin:50px auto}
.shopcommon .shop_aside{width:220px;}
.shopcommon .aside_title{font-size:24px;font-weight:800;}
.shopcommon .aside_nav_wrap{border-top:1px solid #E0E0E2;border-bottom:1px solid #E0E0E2;margin-top:16px}
.shopcommon .aside_nav_items{position:relative;width:100%;}
.shopcommon .aside_nav_1depth{display:flex;justify-content:space-between;align-items:center;padding:16px;font-size:16px;font-weight:700;color:#1B1B1B;width:100%;}
.shopcommon .aside_nav_items:hover > .aside_nav_2depth{display:block;}
.shopcommon .aside_nav_2depth{display:none;position:absolute;right:-100%;top:0;padding:16px 0;min-width:220px;background:#fff;z-index:1;border: 1px solid #E0E0E2;box-shadow: 0px 8px 16px 0px #00000014;}
.shopcommon .aside_nav_2depth li:hover > ul{display:block;}
.shopcommon .aside_nav_3depth{display:none;position:absolute;right:-101%;top:-1px;min-width:220px;background:#fff;z-index:1;border: 1px solid #E0E0E2;box-shadow: 0px 8px 16px 0px #00000014;}
.shopcommon .aside_nav_items a{display:flex;justify-content:space-between;align-items:center;padding:11px 16px;font-size:16px;color:#737373;}
.shopcommon .aside_nav_2depth > li > a::after{content:'';display:inline-block;width:20px;height:20px;background:url(../img/icon_next.svg)no-repeat center;}
.shopcommon .aside_nav_2depth li a:hover{background:#CAA68B0F;color:#DA4E37;}
.shopcommon .aside_nav_2depth li a:hover::after{background:url(../img/icon_next_color.svg)no-repeat center;}
.shopcommon .aside_nav_items:has(.aside_nav_2depth) .aside_nav_1depth::after{content:'';display:inline-block;width:20px;height:20px;background:url(../img/icon_next.svg)no-repeat center;}
.shopcommon .filter_slect .trigger{height:46px;line-height:46px;}
.shopcommon .filter_slect .trigger:after{height:46px;}
.shopcommon .top_area{border-bottom:none}


/*상품목록*/
#ShopList_pc{display:flex;}
#ShopList_m{display:none;}
.product_filter{display:flex;font-size:16px;gap:12px;align-items:center;}
.product_filter li{display:flex;align-items:center;gap:12px}
.product_filter li.on{font-weight:800;}
.product_filter li::after{content:'';display:inline-block;width:1px;height:14px;background:#dcdcdc;}
.product_filter li:last-child::after{display:none;}
.shop_contents_wrap{width:100%;}
.sub_header{display:block;width:100%;height:370px;background:url(img/shop_banner.jpg)no-repeat center;display:flex;justify-content:center;align-items:center;flex-direction:column;background-size:cover;}
.sub_header p{font-size:52px;font-weight:900;color:#fff;font-family: 'Montserrat';line-height:63.39px;}


/*상품상세*/
#Shopitem_pc{display:block;position:relative}
#Shopitem_m{display:none}
#Shopitem_pc .item_top_area{max-width:1200px;margin:50px auto 0;display:flex;justify-content:space-between;}
#Shopitem_pc .img_wrap{width:600px;height:auto;background:#fff;padding-right:40px;}
#Shopitem_pc .btn_area{margin-top:10px}
#Shopitem_pc .btn_area button{border:1px solid #E0E0E2;display:flex;justify-content:center;align-items:center;gap:4px}
.item_view .swiper-slide{width:560px;height:560px;}
.item_nav .swiper-slide{width:80px !important;height:80px;}
.swiper-slide img{width:100%;}
.item_nav{margin:20px}
.swiper-button-next, .swiper-button-prev{color:#fff;transform: scale(.8);}
.swiper-free-mode>.swiper-wrapper{display:flex;justify-content:center;}
.item_info{padding-left:40px; border-left: 1px solid #E0E0E2;overflow:hidden;}
.info01{margin-bottom:32px}
.item_name{font-size:24px;font-weight:800;line-height:36px;}
.star_rating{display:flex;gap:4px;font-size:16px;font-weight:800;margin:10px 0}
.star_rating .count{font-size:16px;color: #5c5c5c;font-weight:400;}
.star_rating img{width:18px;}
.item_info .price{font-size:24px;font-weight:800;color: #DA4E37;}
.item_info .price span{font-size:28px}
.info02 b{font-weight:700;color:#000;}
.info02 p .red{color:#DA4E37}
.info_wrap > li{padding:32px 0;border-top:1px solid #E0E0E2;display:flex;gap:30px;font-size:14px;color:#9B9B9B;}
.info_wrap > li .tit{width:120px;font-weight:700;color:#000;}
.info_wrap > li > div{width:100%;}
.info02 .option_wrap{width:100%;}
.info02 .filter_slect{width:100%;height:46px;line-height:46px;}
.info02 .option_total{padding:16px;border:1px solid #E0E0E2;margin-top:10px}
.info02 .option_total .option_list{font-size:14px;color:#000;margin-bottom:16px}
.info02 .option_total .quantity_wrap{align-items:center;}
.option_total .option_price{color:#000;display: flex;align-items: center}
.option_total .option_price::after{content: '';margin-left:6px;display:inline-block;width:16px;height:16px;background:url(../img/icon_close3.svg)center no-repeat;}
.option_wrap.type01 .option_total .option_price::after{display:none;}
.option_wrap.type01 .option_total{margin-top:0}
.total{display:flex;align-items:center;}
.total > div{display:flex;justify-content: flex-end;align-items:center;gap:12px;}
.total_tit{width:120px;font-size:14px;font-weight:800;color:#000}
.total_price{color:#DA4E37;font-weight:800;font-size:24px}
.total_price span{font-size:28px}
.item_detail_wrap{max-width:1200px;width:100%;margin:50px auto;}
.tab_menu li{width:25%;height:56px;background:#F7F7F7;display:flex;justify-content:center;align-items:center;font-size:16px;font-weight:800;color:#3D3935;cursor:pointer;}
.tab_menu li.on{background:#3D3935;color:#fff; }
.item_detail_wrap > div{margin:50px 0;}
.item_detail_wrap > div > .tit{font-size:18px;font-weight:800;margin-bottom:30px}
.item_detail_wrap > div .table_defalt{margin:0 0 50px;}
.item_detail_wrap > div .table_defalt th, .item_detail_wrap > div .table_defalt td{padding:17.5px 20px;font-weight:400;text-align:left;}
.item_detail_wrap > div .white_btn{width:100% ;max-width:600px;margin:50px 0;transition:0.5s;gap:8px;display:flex;justify-content:center;align-items:center;}
.item_detail_wrap > div .white_btn img{transition:.5s;}
.item_detail_wrap > div .white_btn img.reverse{transform:rotate(-180deg);}
.detail_contents {display:flex;flex-direction:column;align-items:center;height:800px;overflow:hidden;transition:0.5s;}
.list_style li{list-style:inside;}
.gray li{color:#9B9B9B}
.review_info{padding:40px;background:#F7F7F7;display:flex;justify-content:center;align-items:center;}
.review_info > ul{display:flex;justify-content:center;align-items:flex-start;gap:100px}
.review_info .tit{font-size:14px;font-weight:700;}
.review_info_wrap > li{display:flex;flex-direction:column;justify-content:space-between;align-items:center;height:140px;}
.review_info .rating{font-size:32px;color:#9B9B9B;font-weight:800;}
.review_info .rating span{color:#000}
.review_info .count{font-size:32px;color:#000;font-weight:800;}
.review_info_wrap .star_rating img{width:28px;}
.graph{display:flex;gap:30px}
.graph p{font-size:14px;font-weight:700;color:#000;}
.graph li{display:flex;flex-direction:column;align-items:center;}
.graph li > div{width:9px;height:57px;background:#DCDCDC;border-radius:200px;display:flex;justify-content:center;align-items: flex-end}
.graph li > div span{display:block;width:100%;height:0;background:#9B9B9B;transition:.5s;border-radius:200px;}
.graph li > div span.red{background: #ff4242;}
#Shopitem_pc .review .top_area{margin:50px 0 30px}
#Shopitem_pc .review .top_area .total{margin-bottom:0}
#Shopitem_pc  .depth1{display: flex;justify-content:space-between;}
.top_area .filter{display:flex;font-size:16px;gap:12px}
.top_area p{color:#000}
.top_area .filter li{display:flex;justify-content:center;align-items:center;gap:12px;color:#666666;cursor:pointer;}
.top_area .filter li::after{content:'';display:inline-block;width:1px;height:14px;background:#DCDCDC;}
.top_area .filter li:last-child::after{display:none;}
.top_area .filter li.on{font-weight:800;color:#000}
.top_area .filter li.on::before{content:'';display:inline-block;width:16px;height:16px;background:url('../img/icon_check.svg')no-repeat center;}
#inquiry_write{width:140px;font-size:16px}
#detail03 table{margin:32px 0  50px;}
#detail03 .table_defalt th{background:#fff;font-weight:800;text-align:center;border-left: none;border-right:none;}
#detail03 .table_defalt td{border-right:none;border-left:none;text-align:center;}
#detail03 .table_defalt td.text_left{text-align:left;}
.sticky_item_info{display:none;width:100%;border-bottom: 1px solid #3D3935;position:sticky;top:0;left:0;background:#fff;z-index:999;}
.sticky_item_info .tab_menu{width:100%;max-width:1200px;margin:0 auto;}
.sticky_item_info .info_wrap{padding:16px 0;display:flex;width:100%;max-width:1200px;margin:0 auto;justify-content:space-between;align-items:center;}
.sticky_item_info .info_wrap button{width:165px;}
.sticky_item_info .info_wrap .img_area{width:60px;height:60px;border:1px solid #E0E0E2}
.sticky_item_info .info_wrap .item_wrap{display:flex;gap:16px}
.sticky_item_info .info_wrap .product_name{font-size:14px;font-weight:700;margin-bottom:4px}
.sticky_item_info .info_wrap .product_price{color: #DA4E37;font-weight:700;font-size:16px;}
.sticky_item_info .info_wrap .product_price span{font-weight:800;}
.sticky_item_info  .product_option_wrap{width:100%;max-width:1200px;margin:16px auto;display:flex;padding:25px;background:#F7F7F7;overflow:hidden;justify-content:space-between;}
.sticky_item_info  .product_option_wrap > div{width:50%;}
.sticky_item_info  .box02{padding-left:25px;border-left:1px solid #E0E0E2 ;display:flex;flex-direction:column;align-items: flex-start;}
.sticky_item_info  .box02 .btn_wrap{display:flex;flex-direction: column;}
.sticky_item_info .btn_wrap{width:100%;}
.sticky_item_info .btn_area{width:100%;}
.sticky_item_info .btn_area .white_btn{background:#fff;}
.delivery p{font-size:14px;color:#5c5c5c;}
.delivery p .red{color:#DA4E37}
.total_price_wrap{margin-bottom:16px;display:flex;justify-content:space-between !important;width:100%;}
.total_price_wrap .right{display:flex;flex-direction: column;align-items: flex-end;}
.total_price_wrap .right p:first-child{font-size:12px;font-weight:700;color:#5c5c5c;}
.sticky_item_info .type03 .product_option_wrap > div{width:33%;}
.sticky_item_info .type03 .product_option_wrap .box03{padding:0 25px;border-left:1px solid #E0E0E2;}
.sticky_item_info .type03 .product_option_wrap .box03 .filter_slect{width:100%;background:#fff;}
.sticky_item_info .type03 .box02 .option_total{width:100%;background:#fff;flex-wrap:wrap;padding:12px 16px;border:1px solid #e0e0e2}
.sticky_item_info .type03 .box02 .option_total .option_list{width:100%;}
#Totop{position:fixed;right:30px;bottom:30%;z-index:9999;width:60px;height:60px;}

/*상품주문*/
#ShopOrder .txt_area{width:100%;}
#ShopOrder .border .list_text{gap:4px}
.shoporder{display:flex;justify-content:flex-start;background:#f7f7f7;flex-direction:column;align-items:center;height:100%;min-height:100dvh;}
.shoporder h2{font-size:32px;font-weight:800;margin:50px auto;text-align:center;}
.shoporder h5{font-weight:800;font-size:20px;}
.shoporder .in_btn{font-weight:800;}
.shoporder .border{width:100%;max-width:832px;margin-bottom:16px;background:#fff;border: none !important;padding:32px;border-radius:8px;}
.shoporder .border_tit{font-size:20px;font-weight:800;padding-bottom:20px;border-bottom:1px solid #E0E0E2;color:#000}
.shoporder .border .txt_area{padding:20px 0}
.shoporder .filter_slect{width: 100%;}
.shoporder .write{display:none;width:100%;height: 46px;line-height: 46px;margin-top:8px;font-size:14px;padding:0 8px}
.shoporder .right{font-size:12px;font-weight:700;display:flex;flex-direction: column;align-items: flex-end;}
.shoporder .right .red{color:#DA4E37 !important}
.shoporder .right p{font-size:12px}
.shoporder .brand{font-size:16px;font-weight: 800;color:#000}
.shoporder .order_list{margin:20px 0}
.shoporder .order_list .top_area {border-bottom:none;padding:0}

.shoporder .item_list li{display:flex;align-items:center;gap:16px}
.shoporder .item_list li:not(:last-child){border-bottom:1px solid #e0e0e0}
.shoporder .item_list .img_area{width:70px;height:70px;border:1px solid #e0e0e0;}
.shoporder .item_list .product_name{font-size:16px;color:#000}
.shoporder .item_list .product_option{font-size:14px;display:flex;align-items:center;color:#9B9B9B;}
.shoporder .item_list .product_option::before{content:'옵션';display:inline-block;padding:0 3px;border:1px solid #e0e0e2;border-radius:4px;color:#9B9B9B;font-size:11px;margin-right:8px;}
.shoporder .item_list .price{color:#000;font-size:16px;font-weight: 800;}
.shoporder .list_text2.border_btm{padding-bottom:16px;border-bottom:1px solid #E0E0E2}
.shoporder .list_text2.price_list li{margin-top:20px;font-size:16px;font-weight:800;color:#DA4E37 !important}
.shoporder .list_text2.price_list span{color:#000}
.shoporder .list_text2 li{font-weight:700;color: #9B9B9B;}
.shoporder .list_text2.bold {margin-top:20px;font-size:16px;color:#000;font-weight:800;}
.shoporder .list_text2.bold li{font-weight:800;color:#000;font-size:16px}
.shoporder .list_text2.bold span{font-weight:400;color:#000;font-size:16px;}
.savings_wrap{width:100%;margin-top:20px;display:flex;gap:10px;position:relative}
.savings_wrap input{text-align:right;padding-right:35px;height:46px;line-height:46px;width:inherit;color:#3D3935;font-weight:800;}
.savings{width:100%;position:relative;display:flex;align-items:center;}
.savings::after{position:absolute;right:-20px;content:'원';display:inline-block;width:50px;height:auto;color:#000;font-weight:800;}
.savings_wrap button{height:46px;line-height:46px;width:120px;padding:0 16px;font-size:16px}
.tab_menu_gray{display: flex;background:#f7f7f7;padding:5px;margin:20px 0 0}
.tab_menu_gray li{cursor:pointer;width:25%;height:46px;display:flex;justify-content:center;align-items:center;border-radius:8px;font-weight:700;color:#5C5C5C}
.tab_menu_gray li.on{color:#000;background:#fff;font-weight:800;}
.bottom_fixed{padding:20px 0;display:flex;justify-content:center;background:#fff;box-shadow:-1px -6px 14px 0px #0000000f;position:fixed;bottom:0;width:100%;}
.bottom_fixed .submit_wrap{width:100%;max-width: 832px;display:flex;justify-content:space-between;align-items:center;}
.bottom_fixed .submit_wrap p{font-size:14px;font-weight:700;color:#9B9B9B}
.bottom_fixed .submit_wrap button{width:375px;}
.shoporder .border.pc{display:block;}
.shoporder .border.m{display:none;}

/*주문완료*/
.shoporder .center{display:flex;flex-direction:column;justify-content:center;align-items:center;margin-bottom:50px}
.shoporder .center .tit{margin-bottom:4px;font-size:20px;font-weight:800;color:#000}
.shoporder p{font-size:16px;}
.side_list{display:flex;justify-content:space-between;}
.side_list > div{width:48%;border-bottom:1px solid #E0E0E2;}
.side_list .border_tit{font-size:16px;padding-bottom:16px;margin-bottom:16px}
.total_price_wrap{margin:10px 0}
.total_price_wrap > p{font-size:15px;color:#666666;font-weight:800;font-size:15px;}
.total_price_wrap > p span{color:#DA4E37;font-size:24px}
.border .submit_wrap{width:100%;margin-top:50px;display: flex;justify-content:space-between;}
.border .submit_wrap button{width:48%;}
.bottom_fixed.m{display:none;}
.submit_wrap.pc{display:flex;}



/* 반응형 max 1200 md */
@media (max-width:1200px) {
    /*상품목록*/
    #ShopList_pc{display:none;}
    #ShopList_m{display:block;padding:16px;max-width:100%;}
    .shop_contents_wrap{width:100%;}
    #ShopList_m .serch{margin:0 0 16px}
    /*상품상세*/
    #Shopitem_pc{display:block}
    #Shopitem_m{display:none}
    #Shopitem_pc .img_wrap{width:100%;padding:0 16px}
    #Shopitem_pc .item_top_area{justify-content:space-between;flex-direction: column;align-items:center;}
    .item_info{width:100%;padding:0 16px;border-left:none;}
    .sticky_item_info .info_wrap{padding:16px}
    .item_detail_wrap > div{padding:0 16px }
    #Shopitem_pc .btn_area button {width:50%;}
    .shoporder .border.pc{display:block;}
    .shoporder .border.m{display:none;}
    

    
    .sub_top_area{display: none;}
    .sub_menu{border-top:none;margin:14px 0 0}
    .sub_menu ul{padding:0 16px;gap:16px}
    .sub_menu ul li{font-size:14px}
    .sub_menu ul .on{padding-bottom:14px}
    .sub_menu .swiper{padding:0 16px;}
}


@media (max-width:780px) {

    .sub_header{background:url('./img/shop_banner_m.jpg')no-repeat center; background-size:cover;}
    .sub_header p{font-size:32px;line-height:39px;}
    .serch, .serch input{width:100%;}


    .shopcommon .filter_slect .trigger{height:34px;line-height:34px;}
    .shopcommon .filter_slect .trigger:after{width:34px;height:34px;background-size: 20px;}
    #Shopitem_pc{display:none}
    #Shopitem_m{display:block;}

    #Shopitem_m .swiper{background:#fff;}
    #Shopitem_m .img_wrap{width:100%;height:480px;overflow:hidden;}
    #Shopitem_m .swiper-slide{background:#fff;width:100%;height:480px;display: flex;justify-content: center;align-items: center;}
    #Shopitem_m .swiper-slide img{width:auto;height:100%;}
    .info01{padding-bottom:16px;margin-bottom:0;border-bottom:6px solid #f7f7f7}
    .info01, .info02{padding:16px}
    .info02{padding-bottom:16px;border-bottom:6px solid #f7f7f7}
    .item_info{margin-top:16px;padding:0}
    .item_name{font-size:18px;line-height:27px;font-weight:700;}
    #Shopitem_m .order_wrap.type01 .price{font-size:16px;color:#DA4E37}
    #Shopitem_m .order_wrap.type01 .price span{font-size:20px;font-weight:700;}
    .info02 .tit{font-size:16px;font-weight:800;margin-bottom:16px;}
    
    #Shopitem_m .tab_menu{position:sticky;top:0;left:0}
    #Shopitem_m .tab_menu li{background:#fff;}
    #Shopitem_m .item_detail_wrap{width:100%;margin:0;}
    #Shopitem_m .tab_menu{margin:0;padding:0;background:#fff;}
    #Shopitem_m .tab_menu li{font-size:14px}
    #Shopitem_m .tab_menu li.on{color:#3D3935;border-bottom:2px solid #3D3935;}
    .item_detail_wrap > div{padding:0}
    .item_detail_wrap > div .white_btn{font-size:14px;margin:32px 16px}
    #detail01_m .btn_area{border-bottom:6px solid #f7f7f7}
    .detail_contents{height: 300px;}
    .info03{padding:0}
    .info_tit{font-size:16px;font-weight:700;padding:16px;border-bottom:1px solid #E0E0E2}
    .info_tit.type02{font-weight:700;color:#999;display:flex;justify-content:space-between;align-items:center;}
    .info_tit.type02::after{content:'';display:inline-block;width:16px;height:16px;background: url(../img/icon_dropdown2.svg)no-repeat center;}
    .rotated::after{transform:rotate(180deg);}
    .info_contents{display:none;padding:16px ;background:#F7F7F7;font-size:12px;line-height:20px;border-bottom:1px solid #E0E0E2;}

    .review .total{margin-bottom:0; font-size:16px}
    .top_area{padding:0 16px;margin:16px 0}
    .review_info{margin:0 16px}
    .review_info_wrap .star_rating img{width:15px;}
    .review_info{padding:20px 0}
    .review_info > ul{gap:0}
    .review_info > ul{width:100%;}
    .review_info_wrap > li{width:50%;padding:20px 15px;display:flex;height:inherit;}
    .review_info_wrap > li:first-child{border-right:1px solid #E0E0E2;}
    .review_info .rating{font-size:24px}
    .graph{gap:12px}
    .graph p{font-size:10px}
    .graph li > div{width:5px;height:36px;}
    .review_accordion .depth2{background:#fff;}
    .review_accordion .review_preview{font-size:12px}
    .review_accordion li{padding:16px;border-bottom:1px solid #E0E0E2;overflow:hidden;margin:0 auto}
    .review_accordion li:first-child{border-top:1px solid #E0E0E2;}
    .review_accordion .depth2 .img_area{width:100%;height:auto;}
    .review_accordion .depth2 .img_area img{width:100%;}
    #detail03_m{padding:0 16px}
    #detail03_m .top_area{padding:0}
    #detail03_m .top_area .tit{font-size:16px;font-weight:800;}
    #detail03_m .white_btn{margin:0 auto;font-size:14px;width:100%;height:48px;line-height:48px;}
    .table_list{border-top:1px solid #000;margin:16px 0;gap:0}
    .table_list li{display:flex;padding:16px 14px;border-bottom:1px solid #E0E0E2;font-size:14px;color:#5C5C5C}
    .table_list li .state{width:80px;}
    .table_list li .secret{display:flex;align-items:center;gap:4px}
    .table_list li .secret::after{display:inline-block;width:18px;height:18px;content:'';background:url(../img/icon_secret.svg)no-repeat center;}
    .table_list li .btm, .table_list li .btm span{display: flex;align-items:center;gap:8px;}
    .table_list li .btm span::after{display:inline-block;content:'';width:1px;height:14px;background:#E0E0E2}
    #detail04_m{padding:0 16px;margin-bottom:0}
    #detail04_m .tit{margin:16px 0 0;font-size:16px}
    #detail04_m .detail04_txtbox{border-bottom:1px solid #dcdcdc;padding:16px 0;font-size:12px;color:#5c5c5c}
    #detail04_m .detail04_txtbox:last-child{border-bottom:0}
    #detail05_m{margin-top:0;padding-top:16px;border-top:6px solid #f7f7f7}

    .mobile_fiexd{width:100%;background:#fff;position:fixed;bottom:0;left:0;box-shadow:-1px -6px 14px 0px #0000000f;border-radius:14px 14px 0px 0px;z-index:999;}
    .mobile_fiexd > div{width:100%;}
    .mobile_fiexd .btn_area{width:100%;padding:16px;box-shadow:-1px -6px 14px 0px #0000000f}
    .mobile_fiexd .wish_btn{width:46px;height:46px;display:flex;justify-content:center;align-items:center}

    .mobile_fiexd .order01{padding:32px 16px;font-size:14px;font-weight:700;}
    .mobile_fiexd .order01 li{display: flex;padding:16px 10px;border:1px solid #E0E0E2;justify-content:space-between;align-items:center;}
    .mobile_fiexd .order01 .top{display:flex;justify-content:space-between;align-items:center;}
    .mobile_fiexd .order01 li:last-child{border-top:none}
    .mobile_fiexd .order01 .right{display:flex;align-items:center;gap:10px}
    .mobile_fiexd .order02{padding:0 16px 16px;display:flex;font-size:12px}
    .mobile_fiexd .order02 .tit{width:60px;font-weight:700;}
    .delivery p{font-size:12px}
    .cart_btn{display:flex;justify-content:center;align-items:center;height:46px;line-height:46px;border-color: #E0E0E2;}
    .mobile_fiexd .type01 .btn_area button{width:50%;}
    .mobile_fiexd .btn_area button{font-size:16px;}
    .order03{width:100%;padding:32px 16px 0}
    .order03 .filter_slect{width:100%;}
    .order03 .filter_slect .trigger{height:46px;line-height:46px;}
    .order03 .filter_slect .trigger:after{height: 46px;width:46px;}
    .order03 .filter_slect.select .trigger_txt{font-size:14px;font-weight:700;color:#000;}
    .type02 .order01{padding-top:16px}
    .mobile_fiexd .option_more{display:flex;flex-direction:column;}
    .mobile_fiexd .order01 li .top{display:flex;justify-content:space-between;align-items: center;width: 100%;margin-bottom:8px}
    .mobile_fiexd .order01 li .btm{display: flex;justify-content:space-between;width:100%;}
    .mobile_fiexd .order01 li .btm .price{color:#000;font-size:12px;font-weight:400;}
    .mobile_fiexd .order01 li .btm .price span{font-size:14px;font-weight:700;}


    .shoporder h5{font-size:16px}
    .shoporder h2{padding-top:24px;font-size:16px;background:#fff;width:100%;display:flex;justify-content:center;align-items:center;margin:6px 0 0}
    .shoporder .border{margin:3px 0;padding:16px}
    .shoporder .border:nth-child(2){margin-top:0}
    .shoporder .border:last-child{margin-bottom:150px}
    .shoporder .border_tit{font-size:16px;padding:16px 0;margin:0}
    .shoporder .border.pc{display:none;}
    .shoporder .border.m{display: block;min-height:100%;}
    .shoporder .border.m
    .shoporder .top_area{padding:0 0 16px}
    .shoporder .border .txt_area{width:70%;}
    .shoporder .list_text2.bold li{font-size:16px}
    .shoporder .list_text2.bold span{font-weight:700;}
    #ShopOrder .item_list .product_name{font-size:14px;color:#000;}
    #ShopOrder .item_list .product_option{font-size:12px}
    #ShopOrder .text_box{padding:6px;background:#F7F7F7;text-align:center;font-size:12px;color:#666666}
    #ShopOrder .bottom_fixed .submit_wrap{flex-direction:column-reverse;;}
    #ShopOrder .bottom_fixed .submit_wrap{flex-direction:column-reverse;}
    #ShopOrder .bottom_fixed .submit_wrap button{width:100%;}
    .bottom_fixed{padding:16px}
    #ShopOrder .submit_wrap button{width:100%;margin-bottom:10px;font-size:16px}
    .bottom_fixed .submit_wrap button{width:48%;margin-bottom:10px;height:46px;line-height:46px;}
    #ShopOrder .filter_slect .trigger{height: 46px;line-height:46px;}
    #ShopOrder .filter_slect .trigger:after{height:46px;}
    #ShopOrder .text_box p{font-size:12px}
    #ShopOrder  .item_list .price{font-weight:800;}
    .tab_menu_gray li{font-size:12px;font-weight:800;}
    #ShopOrder_success.shoporder .center{margin-bottom:0 !important}
    #ShopOrder_success.shoporder .list_text2 li{color:#000000;font-weight:400;text-align:left;}
    .list_text2.left li{justify-content:flex-start;}

    /*주문완료*/
    .bottom_fixed.m{display:flex;}
    .border .submit_wrap.pc{display:none;}
    .side_list.pc{display: none;}
    .border.m{display:flex;}
    .list_text2{text-align:right;font-size:14px;gap:4px;margin-top:16px}
    .list_text2 .list_tit{text-align:left;}
    .bottom_fixed .submit_wrap .white_btn{border:1px solid #E0E0E2;font-size: 16px;}

    #ShopOrder_success .border.m:nth-last-child(3){margin-bottom:100px}
}